/*--------------- Contact ---------------*/
#contact {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 40px auto 30px auto;
	text-align: center;
	color: black;
	width: 100%;
}
.fancyUnderline {
	width: auto;
	height: 59px;
	margin-top: 80px;
}
#fancyUnderlineCont {
	display: flex; 
	flex-direction: row; 
	justify-content: center; 
	align-items: center;
	margin-bottom: 10px;
}
#closingRemarks {
	margin: 30px 5px 10px 5px;
	font-size: 1.75rem;
	text-align: inherit;
}

#social {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 300px;
	height: auto;
	margin: 25px auto;
}

#contact i {
	font-size: 50px;
	color: black;
}

/*--------------- Footer ---------------*/
#footer {
	bottom: 0;
	width: 100%;
	background-color: rgba(240, 240, 240, 0.5);
	font-size: 1.25rem;
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	height: 250px;
}

#footerContent {
	margin: auto;
	display: inline-block;
}

#footer p {
	color: black;
	margin: auto;
	font-size: 1rem;
	text-align: center;
}

#footer a {
	color: black;
}

#footer a:hover {
	color: black;
	cursor: pointer;
}

#footer #credit {
	font-size: .85rem;
}

@media only screen and (max-width: 1428px) {
    .fancyUnderline {
    	display: none;
    }
}