#interests img {
    position: relative;
    width: 100px;
    height: auto;
    height: auto;
    border: none;
    margin: auto;
}

.tooltip {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    opacity: 1;
    border-radius: 50%;
    border: 4px solid black;
}

.tooltip .tooltiptext {
    display: none;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
}

.tooltip:hover .tooltiptext {
    display: inline-block;
    text-decoration: none;
}

@media only screen and (max-width: 1428px) {
    .tooltip {
        margin: 30px auto;
    }
}