body{
	overflow-x: hidden;
	min-width: 1000px;
}

#main {
	position: absolute;
	top: 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	font-family: 'montserrat', serif;
}

.sections {
	width: 100%;
	min-height: 400px;
	min-width: inherit;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
}

h2 {
	font-size: 30px;
	margin-bottom: 30px;
}
.hidden {
	visibility: hidden;
	-webkit-transition: opacity 1.0s ease-out;
	-moz-transition: opacity 1.0s ease-out;
	-o-transition: opacity 1.0s ease-out;
	opacity: 0;
}
.hidden1 {
	visibility: hidden;
	-webkit-transition: opacity 1.0s ease-out;
	-moz-transition: opacity 1.0s ease-out;
	-o-transition: opacity 1.0s ease-out;
	opacity: 0;
}

.visible {
	visibility: visible;
	-webkit-transition: opacity 1.0s ease-in;
	-moz-transition: opacity 1.0s ease-in;
	-o-transition: opacity 1.0s ease-in;
	opacity: 1;
}

.visible1 {
	visibility: visible;
	-webkit-transition: opacity .5s ease-in;
	-moz-transition: opacity .5s ease-in;
	-o-transition: opacity .5s ease-in;
	opacity: 1;
}

/*--------------- Landing Page ---------------*/
#fake {
	background-color: black;
	font-family: courier new;
	display: block;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 5000px;
	width: 100%;
	position: absolute;
	overflow-y: auto;
	top: 0;
	z-index: 20000000;
}

#fakeCont {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	top: 0;
	height: 100vh;
	margin: 0 auto;
}

#quote {
	color: white;
	position: relative;
	text-align: center;
	width: 90%;
	margin: 0 auto 25px auto;
}
#fakeCont img {
	width: 30px;
}
#fakeCont img:hover {
	cursor: pointer;
}
.bounce {
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}

/* Scroll down indicator (bouncing) */
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0); }
  40% {
    -webkit-transform: translateY(-15px); }
  60% {
    -webkit-transform: translateY(-8px); } }
@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0); }
  40% {
    -moz-transform: translateY(-15px); }
  60% {
    -moz-transform: translateY(-8px); } }
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); }
  40% {
    -webkit-transform: translateY(-15px);
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -o-transform: translateY(-15px);
    transform: translateY(-15px); }
  60% {
    -webkit-transform: translateY(-8px);
    -moz-transform: translateY(-8px);
    -ms-transform: translateY(-8px);
    -o-transform: translateY(-8px);
    transform: translateY(-8px); } }

/*--------------- Horizontal Line Next to Headers ---------------*/
/* headlines with lines */
.decorated{
	overflow: hidden;
	text-align: center;
	width: 70%;
	margin: 0 auto;
}
.decorated > span{
	position: relative;
	display: inline-block;
}
.decorated > span:before, .decorated > span:after{
	content: '';
	position: absolute;
	top: 50%;
	border-bottom: 2px solid;
	width: 592px; /* half of limiter */
	margin: 0 20px;
}
.decorated > span:before{
	right: 100%;
}
.decorated > span:after{
	left: 100%;
}

@media only screen and (max-width: 768px) {
	h2 {
		text-align: center;
	}
	h5 {
		text-align: center;
}