

/*--------------- Projects ---------------*/
 .contOut {
	width: 90%;
	margin: 0 auto;
	position: relative;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	padding-top: 65px;
}

.contIn {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin: 75px auto;
	width: 85%;
}

.contOut img {
	border-radius: 20px;
	width: 23vw;
	height: auto;
	position: relative;
	border: 1px solid rgba(0, 0, 0, .05);
}

.infoCont {
	word-wrap: break-word;
	text-align: left;
	position: relative;
	display: inline;
	margin-left: 8%;
}

.infoCont h4 {
	font-size: 1.3rem;
	font-weight: bold;
}

.infoCont p {
	padding-right: 15px;
	margin-top: 20px;
	font-size: 15px;
}

.infoCont br {
	line-height: 200%;
}

.cont {
	padding-top: 30px;
}

#workExp {
	background-color: white;
}

#myProjects {
	background: radial-gradient(closest-side, rgba(80, 227, 194, 0.2) 0%, rgba(0,250,154, .1) 100%);
}

.cont h4 {
	color: #5F9AFF;
}

.cont h6 strong {
	color: green;
	font-size: 1rem;
}

.cont h6 i {
	color: #590078;
}

@media only screen and (max-width: 768px) {
	.contIn{
		display: flex;
		flex-direction: column;
		margin: 0 auto 100px auto;
	}
	.infoCont {
		width: 90%;
	}
	.contOut img {
		margin: 0 auto 40px auto;
		width: 80%;
		height: auto;
		display: block;
	}
	.contOut h2 {
		margin-bottom: 75px;
	}
}

