#skills {
    background: radial-gradient(closest-side, rgba(0, 255, 255, 0.2) 0%, rgba(0, 255, 255, 0.1) 100%);
}

#skillsContIn {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin: 25px auto 0 auto;
    width: 85%;
}

.skillsBar{
    width: inherit;
    position: relative;
    font-size: 12px;
    line-height: 2em;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}

.col {
    width: 45%;
    margin: 0 auto;
}

#skill {
    list-style: none;
    padding-top: 30px;
}

#skill li {
    margin-bottom: 70px;
    background: #00D4FF;
    height: 5px;
    border-radius: 3px;

}

#skill li em {
    position: relative;
    top: -30px;
}

#skill li .percent {
    float: right;
    position: relative;
    top: -30px;
}

.expand {
    height: 5px;
    background: #9932CC;
    position: absolute;
}

@media only screen and (max-width: 768px) {
    .skillsContOut {
        width: 90%;
    }
    .skillsContIn {
        width: 90%;
    }
    .col {
        width: 90%;
    }
    #skill {
        width: 90%;
    }
}


/*------------------------- Skills -------------------------*/
.cPlusPlus {
    width: 70%;
    -moz-animation: cPlusPlus 2s ease-out;
    -webkit-animation: cPlusPlus 2s ease-out;
}

.webFront {
    width: 70%;
    -moz-animation: webFront 2s ease-out;
    -webkit-animation: webFront 2s ease-out;
}

.webBack {
    width: 60%;
    -moz-animation: webBack 2s ease-out;
    -webkit-animation: webBack 2s ease-out;
}

.linux {
    width: 63%;
    -moz-animation: linux 2s ease-out;
    -webkit-animation: linux 2s ease-out;
}

.php {
    width: 45%;
    -moz-animation: php 2s ease-out;
    -webkit-animation: php 2s ease-out;
}

.node {
    width: 50%;
    -moz-animation: node 2s ease-out;
    -webkit-animation: node 2s ease-out;
}

.sw {
    width: 70%;
    -moz-animation: sw 2s ease-out;
    -webkit-animation: sw 2s ease-out;
}

.autoCAD {
    width: 60%;
    -moz-animation: autoCAD 2s ease-out;
    -webkit-animation: autoCAD 2s ease-out;
}

/*------------------------- Animation-moz -------------------------*/

@-moz-keyframes cPlusPlus {
    0% {
        width: 0px;
    }

    35% {
        width: 35%;
    };
}

@-moz-keyframes webFront {
    0% {
        width: 0px;
    }

    35% {
        width: 35%;
    };
}

@-moz-keyframes webBack {
    0% {
        width: 0px;
    }

    30% {
        width: 30%;
    };
}

@-moz-keyframes linux {
    0% {
        width: 0px;
    }

    25% {
        width: 25%;
    };
}

@-moz-keyframes php {
    0% {
        width: 0px;
    }

    25% {
        width: 25%;
    };
}


@-moz-keyframes node {
    0% {
        width: 0px;
    }

    20% {
        width: 20%;
    };
}

@-moz-keyframes sw {
    0% {
        width: 0px;
    }

    30% {
        width: 25%;
    };
}

@-moz-keyframes autoCAD {
    0% {
        width: 0px;
    }

    25% {
        width: 25%;
    };
}


/*------------------------- Animation-webkit -------------------------*/

@-webkit-keyframes cPlusPlus {
    0% {
        width: 0px;
    }

    35% {
        width: 35%;
    };
}

@-webkit-keyframes webFront {
    0% {
        width: 0px;
    }

    35% {
        width: 35%;
    };
}

@-webkit-keyframes webBack {
    0% {
        width: 0px;
    }

    30% {
        width: 30%;
    };
}

@-webkit-keyframes linux {
    0% {
        width: 0px;
    }

    25% {
        width: 25%;
    };
}

@-webkit-keyframes php {
    0% {
        width: 0px;
    }

    25% {
        width: 25%;
    };
}

@-webkit-keyframes node {
    0% {
        width: 0px;
    }

    25% {
        width: 25%;
    };
}

@-webkit-keyframes sw {
    0% {
        width: 0px;
    }

    30% {
        width: 25%;
    };
}

@-webkit-keyframes autoCAD {
    0% {
        width: 0px;
    }

    25% {
        width: 25%;
    };
}

